/* css styles */
b, strong {
  font-weight: 900;
}
body {
  letter-spacing: -0.2px; /* You can adjust the value as needed */
}

.about-contents {
  flex-grow: 3 !important;
  flex-shrink: 0 !important;
  flex-basis: 80% !important;
}

.about-entity {
  flex-grow: 0 !important;
  flex-shrink: 3 !important;
  flex-basis: 20% !important;
}